doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 HubSpot Contacts
    a(href="/update-cobj") Add to this table
    br
    br
    table(border="1")
      thead
        tr
          th First Name
          th Bio
          th Food
          th Sport
      tbody
        each contact in contactsData
          tr
            td= contact.properties.firstname
            td= contact.properties.bio
            td= contact.properties.food
            td= contact.properties.sport
